/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Public+Sans&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* custome styling */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Public Sans', sans-serif;
    font-weight: 400;
    Font-size: 1.2rem;
    height: 100%;
}
.nav-bar {
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 1.1rem;
    align-items: center;
    background-color: #ffffff;
}

.nav-items {
    display: none;
    list-style: none;
    background-size: cover;
    text-align: left;
}


button {
    cursor: pointer;
    height: 38px;
    background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    border: 0;
    padding-top: 1rem;
    padding-bottom: 2.2rem;
    padding-left: 3rem;
    padding-right: 3rem;
    color: #ffffff;
    border-radius: 2rem;
    font-size: large;
    font-weight: bold;
    margin-right: 4rem;
}

button:hover {
    opacity: 50%;
}

.menu li {
    display: inline;
    padding: 0 1rem 0 1rem;
    font-weight: bold;
    color: #7b7474;
}

.menu li:hover {
    cursor: pointer;
    border-bottom: 0.4rem solid;
    border-image: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%)) 1;
    padding-bottom: 1rem;
}

ul {
    margin: 0;
    padding: 0;
}

main {
    background-color: hsl(0, 0%, 98%);
    border: 1px solid white;
}

.section-container {
    /* margin-top: 20px; */
    /* height: 60%; */
    /* border: 1px solid red; */
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
}

.img-container {
    background-image: url("images/bg-intro-desktop.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -9.6rem;
    background-position-x: 1rem;
    display: flex;
    justify-content: flex-end;
    width: 50%;
    /* position: relative; */
}

.img-class {
    /* height: 60rem; */
    position: relative;
    z-index: 1;
    /* width: 50rem; */
    margin: -8rem -8.5rem -10rem 5rem;
}

h1 {
    font-size: 4rem;
    text-align: left;
    color: hsl(233, 26%, 24%);
    margin-bottom: 2rem;
}

.article-container {
    width: 40%;
    display: flex;
    align-items: center;
}

.article-container-one {
    align-self: center;
}

.article-container-one p {
    font-size: 1.4rem;
    text-align: left;
    color: #7b7474;
    margin-bottom: 5%;
    line-height: 1.3em;

}

h2 {
    font-size: 2.7rem;
    color: hsl(233, 26%, 24%);
    margin-bottom: 2rem;
    font-weight: 300;
}

.section-container-two {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: hsl(0, 0%, 97%);
}

.boxes {
    margin-left: 8rem;
    margin-right: 8rem;
    margin-top: 4rem;
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;

}

h3 {
    margin-top: 3rem;
    font-size: 1.7rem;
    color: hsl(233, 26%, 24%);
}

.article-container-two {
    margin-top: 3rem;
    margin-left: 8rem;
    font-size: 1.5rem;
    color: #7b7474;
    width: 50%;
    line-height: 1.3em;
}

.boxes p {
    font-size: 1.3rem;
    color: #7b7474;
    margin-top: 2rem;
    line-height: 1.3em;
}

.box-container-one {
    width: 20%;
}

.box-container-two {
    width: 25%;
}

.latest-article-container {
    /* margin: 1rem; */
    display: flex;
    flex-direction: column;
    /* box-sizing: border-box; */
    /* border: 1px solid red; */
}

.latest-article {
    margin-top: 3rem;
    margin-left: 8rem;
    font-size: 2rem;
    color: #7b7474;
    width: 50%;
    line-height: 1.4em;
}

.img-container-two {
    margin-left: 7rem;
    margin-right: 7rem;
    margin-top: 1rem;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.img-latest-container { 
    /* border: 1px solid red; */
    width: 100%;
}

.img-container-two img {
    width: 100%;
    height: 12rem;
    padding: 0.5rem;
    border-radius: 1rem;
    /* background-size: contain; */
}

.img-container-two h5 {
    font-size: 1rem;
    margin: 1rem;
    color: hsl(233, 26%, 24%);
}

.img-container-two h4 {
    margin: 0.5rem;
    font-size: 1.4rem;
    color: hsl(233, 26%, 24%);
    line-height: 1.9rem;
}

.img-container-two a {
    text-decoration: none;
}


.img-container-two p {
    margin: 0.6rem;
    line-height: 1.5rem;
    font-size: 1rem;
    color: #7b7474;
}
/* section{
    background-color: aqua;
    height: 50%;
} */

footer {
    background-color: hsl(233, 26%, 24%);
    color: white;
}

.footer-container {
    margin: 0 6%;
    display: flex;
    justify-content: space-between;
}

.sub-footer-container {
    margin: 1.5rem;
    display: flex;
    justify-content: space-between;
    width: 50%;
}

ul {
    margin: 0;
    padding: 0;
}

footer a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1rem;
}

.footer-logo {
    /* background-color: #ffffff; */
    margin: 1.5rem;
}

.media-logo {
    cursor: pointer;
    margin: 1.5rem;
    display: flex;
    justify-content: space-between;
}

.footer-container-two {
    display: flex;
    flex-direction: row;
}

footer li {
    display: block;
    padding: 1rem 0px 0.1rem 0px;
}

.footer-container-four {
    margin: 2rem 0rem 0rem 0rem;
}

footer li a {
    font-size: 1rem;
}

.footer-container-four p {
    font-size: 1rem;
    padding: 1rem;
    color: hsl(233, 8%, 62%);
}

.media-logo img:hover {
    filter: invert(62%) sepia(7%) saturate(3599%) hue-rotate(83deg) brightness(105%) contrast(117%);
    border-radius: 50%;
}

.footer-container-two :hover {
    color: hsl(136, 65%, 51%);
}

.footer-container-three :hover {
    color: hsl(136, 65%, 51%);
}

.img-container-two a :hover {
    color: hsl(136, 65%, 51%);
}

#hamburger-icon {
    margin: auto 0;
    display: none;
    cursor: pointer;
}

#hamburger-icon div {
    width: 35px;
    height: 3px;
    background-color: hsl(233, 8%, 62%);
    margin: 6px 0;
    transition: 0.4s;
}

.open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
    opacity: 0;
}

.open .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #fff;
}

.mobile-menu {
    display: none;
    position: absolute;
    padding: 0;
    top: 5em;
    left: 1.1em;
    right: 1.1em;
    margin: 0 auto;
    height: 39.5vh;
    width: 85vw;
    border-radius: 10px;
    box-shadow: 4rem 4rem 200rem rgb(5, 5, 5);
}

.mobile-menu li {
    margin-bottom: 10px;
}


@media screen and (max-width: 760px) {
    #hamburger-icon {
        display: block;
        z-index: 11;
    }
    
    .menu-bar, .nav-request-button{
        display: none;
    }
    
    .mobile-menu li a{
        text-decoration: none;
    }

    .img-container {
        order: -1;
        background-image: url("images/bg-intro-mobile.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position-y: -10px, -10px;
        background-position-x: 0, 0;
        width: 100%;
        height: 30rem;
    }

    .img-class {
        /* border: 1px solid red; */
        width: 160%;
        height: 40rem;
        margin: -11rem -4rem 0rem 2rem;
        /* transform: translate(-15px, -125px); */
    }

    .section-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .article-container {
        margin: 1.5rem;
        width: 100%;
    }

    .main-button{
        margin-left: 6rem;
    }

    .article-container-one h1 {
        font-size: 2.5rem;
        text-align: center;
    }

    .article-container-one p {
        font-size: 1.7rem;
        text-align: center;
        margin: 2rem;
        width: 90%;
    }

    .header-button {
        display: none;
    }

    .boxes {
        margin-top: 1.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 3rem;
        margin-right: 3rem;
    }

    .box-container-one {
        width: 100%;
        margin-top: 2.5rem;
    }

    .box-container-two {
        width: 100%;
        margin-top: 2.5rem;
    }

    .section-container-two {
        text-align: center;
    }

    .boxes p {
        font-size: 1rem;
    }

    .boxes h3 {
        font-size: 1.7rem;
    }

    .latest-article {
        margin-right: 4rem;
        margin-top: 1rem;
        margin-left: 5rem;
        align-items: center;
        width: 70%;
    }

    .article-container-two {
        /* margin-top: -10em -10rem 0rem 0rem; */
        width: 90%;
        margin-left: 1rem;
    }
    
    .article-container-two p {
        font-size: 1.4rem;
        margin-top: 1.4rem;
        width: 100%;
    }
    
    .article-container-two h2 {
        font-size: 2.3rem;
    }
    
    .img-container-two {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin-left: 3rem;
        margin-right: 3rem;
    }

    h2 {
        /* text-align: center; */
        font-size: 2.5rem;
        line-height: 3rem;
        /* border: 1px solid red; */
    }

    .footer-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .sub-footer-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-container-three li {
        text-align: center;
    }

    .footer-container-two li {
        text-align: center;
    }

    .footer-container-four {
        margin-left: 4rem;
    }

    .footer-container-four p {
        margin-top: 0rem;
        margin-bottom: 2rem;
        margin-right: 2rem;
    }
}
